<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="DevConnection" connectionString="Host=localhost;Database=postgres;Username=postgres;Password=postgres" providerName="Npgsql" />
        <add name="ProdConnection" connectionString="Host=localhost;Database=postgres;Username=postgres;Password=postgres" providerName="Npgsql" />
    </connectionStrings>

    <appSettings>
        <add key="Environment" value="Development" />
        <add key="LogFilePath" value="Logs/app.log" />
    </appSettings>
</configuration> 