<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
    <connectionStrings>
        <add name="DevConnection" connectionString="Host={{resolve:secretsmanager:arn:aws:secretsmanager:us-east-1:358648860783:secret:atx-db-modernization-chennuru-DBConnector-setup-ProductManagement-source-target-VFqfKj:SecretString:host}};Database=postgres;Username={{resolve:secretsmanager:arn:aws:secretsmanager:us-east-1:358648860783:secret:atx-db-modernization-chennuru-DBConnector-setup-ProductManagement-source-target-VFqfKj:SecretString:username}};Password={{resolve:secretsmanager:arn:aws:secretsmanager:us-east-1:358648860783:secret:atx-db-modernization-chennuru-DBConnector-setup-ProductManagement-source-target-VFqfKj:SecretString:password}}" providerName="Npgsql" />
        <add name="ProdConnection" connectionString="Host={{resolve:secretsmanager:arn:aws:secretsmanager:us-east-1:358648860783:secret:atx-db-modernization-chennuru-DBConnector-setup-ProductManagement-source-target-VFqfKj:SecretString:host}};Database=postgres;Username={{resolve:secretsmanager:arn:aws:secretsmanager:us-east-1:358648860783:secret:atx-db-modernization-chennuru-DBConnector-setup-ProductManagement-source-target-VFqfKj:SecretString:username}};Password={{resolve:secretsmanager:arn:aws:secretsmanager:us-east-1:358648860783:secret:atx-db-modernization-chennuru-DBConnector-setup-ProductManagement-source-target-VFqfKj:SecretString:password}}" providerName="Npgsql" />
    </connectionStrings>
    <entityFramework>
        <providers>
            <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, EntityFramework6.Npgsql" />
        </providers>
    </entityFramework>
    <appSettings>
        <add key="Environment" value="Development" />
        <add key="LogFilePath" value="Logs/app.log" />
    </appSettings>
</configuration> 
